body{
	background:#0e83cd;
}

a:link{
	text-decoration:none;
}

.effect{
	padding:15px;
}

.effect a{
	font-family:"Courier New";
	color:#0972b4;
	margin-right:100px;
	border-top: 2px solid #0972b4;
	font-size:1.5em;
} 

.effect a::before {
	position:absolute;
	overflow:hidden;
	max-width: 0;
	color: #fff;
	content: attr(data-hover);
	transition: max-width 0.8s;
	border-bottom: 2px solid #fff;
}

.effect a:hover::before,
.effect a:focus::before {
	max-width: 100%;
}
